name: ci
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test-stable-versions:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    strategy:
      fail-fast: false
      matrix:
        include:
          - python_version: 3.7
            pydantic_version: "16"
            sphinx_version: "34"
          - python_version: 3.8
            pydantic_version: "17"
            sphinx_version: "35"
          - python_version: 3.9
            pydantic_version: "18"
            sphinx_version: "35"
          - python_version: 3.9
            pydantic_version: "18"
            sphinx_version: "40"
          - python_version: 3.9
            pydantic_version: "18"
            sphinx_version: "41"
          - python_version: 3.9
            pydantic_version: "18"
            sphinx_version: "42"
          - python_version: 3.9
            pydantic_version: "18"
            sphinx_version: "43"
          - python_version: "3.10"
            pydantic_version: "18"
            sphinx_version: "43"
          - python_version: "3.10"
            pydantic_version: "19"
            sphinx_version: "43"
          - python_version: "3.10"
            pydantic_version: "19"
            sphinx_version: "44"
          - python_version: "3.10"
            pydantic_version: "19"
            sphinx_version: "45"
          - python_version: "3.10"
            pydantic_version: "19"
            sphinx_version: "50"
          - python_version: "3.10"
            pydantic_version: "110"
            sphinx_version:  "51"
          - python_version: "3.10"
            pydantic_version: "110"
            sphinx_version:  "52"
          - python_version: "3.10"
            pydantic_version: "110"
            sphinx_version: "60"
          - python_version: "3.10"
            pydantic_version: "110"
            sphinx_version: "61"
          - python_version: "3.10"
            pydantic_version: "110"
            sphinx_version: "62"
          - python_version: "3.10"
            pydantic_version: "110"
            sphinx_version: "70"
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python_version }}
      - run: sudo apt-get install graphviz graphviz-dev
      - run: pip install tox
      - run: tox -e pydantic${{ matrix.pydantic_version }}-sphinx${{ matrix.sphinx_version }}
      - name: Codecov
        uses: codecov/codecov-action@v2.1.0
        with:
          fail_ci_if_error: true

  test-latest-version:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    environment: ci
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - run: sudo apt-get install graphviz graphviz-dev
      - run: pip install tox
      - run: tox -e latest
      - name: Codecov
        uses: codecov/codecov-action@v2.1.0
        with:
          fail_ci_if_error: true

  test-development-versions-deps:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    environment: ci
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - run: sudo apt-get install graphviz graphviz-dev
      - run: pip install tox
      - run: tox -e development
        continue-on-error: true
      - run: echo "Done"

  test-linter:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    environment: ci
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - run: pip install tox
      - run: tox -e linter
