name: ci
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test-stable-versions:
    strategy:
      fail-fast: false
      matrix:
        include:
          - python_version: "3.8"
            pydantic_version: "20"
            sphinx_version: "45"
          - python_version: "3.9"
            pydantic_version: "20"
            sphinx_version: "45"
          - python_version: "3.9"
            pydantic_version: "20"
            sphinx_version: "53"
          - python_version: "3.10"
            pydantic_version: "20"
            sphinx_version: "62"
          - python_version: "3.10"
            pydantic_version: "20"
            sphinx_version: "70"
          - python_version: "3.11"
            pydantic_version: "20"
            sphinx_version: "70"
          - python_version: "3.11"
            pydantic_version: "21"
            sphinx_version: "71"
          - python_version: "3.11"
            pydantic_version: "22"
            sphinx_version: "71"
          - python_version: "3.11"
            pydantic_version: "23"
            sphinx_version: "71"
          - python_version: "3.11"
            pydantic_version: "24"
            sphinx_version: "72"
          - python_version: "3.12"
            pydantic_version: "25"
            sphinx_version: "72"
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python_version }}
      - run: sudo apt-get install graphviz graphviz-dev
      - run: pip install tox
      - run: tox -e pydantic${{ matrix.pydantic_version }}-sphinx${{ matrix.sphinx_version }}
      - name: Codecov
        uses: codecov/codecov-action@v2.1.0
        with:
          fail_ci_if_error: true

  test-latest-version:
    environment: ci
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - run: sudo apt-get install graphviz graphviz-dev
      - run: pip install tox
      - run: tox -e latest
      - name: Codecov
        uses: codecov/codecov-action@v2.1.0
        with:
          fail_ci_if_error: true

  test-no-erdantic-version:
    environment: ci
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - run: pip install tox
      - run: tox -e no_erdantic

  test-development-versions-deps:
    environment: ci
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - run: sudo apt-get install graphviz graphviz-dev
      - run: pip install tox
      - run: tox -e development
        continue-on-error: true
      - run: echo "Done"

  test-linter:
    environment: ci
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - run: pip install tox
      - run: tox -e linter
